<mat-icon 
  [ngClass]="calculateClassesForToggleForm()"
  (click)="toggleForm()"
>
  {{addButtonStatus}}
</mat-icon>

<form 
  *ngIf="isFormOpen" 
  class="create-todo" 
  [formGroup]="newTaskForm"
  (ngSubmit) ="onAddTodoItem($event)"
>
  <input
    class="create-todo__input"
    type="text" 
    formControlName="title"
    placeholder="Add a new task"
  >
  <button
    type="submit"
    [ngClass]="calculateClassesForSubmit()"
    (click)="onAddTodoItem($event)"
  >
    Add a new task
  </button>
</form>
  

  
