<mat-icon 
  [ngClass]="isFormOpen ? 
  'create-todo__btn create-todo__btn-close' : 
  'create-todo__btn create-todo__btn-open'"
  (click)="toggleForm()"
>
  {{addButtonStatus}}
</mat-icon>

<!-- we could also add a onSubmit action and change button type button to submit -->
<form 
  *ngIf="isFormOpen" 
  class="create-todo" 
  [formGroup]="newTaskForm"
  (ngSubmit) ="onAddTodoItem($event)"
>
  <input
    class="create-todo__input"
    type="text" 
    formControlName="title"
    placeholder="Add a new task"
  >
  <button
    type="submit"
    class="create-todo__submit"
    (click)="onAddTodoItem($event)"
  >
    Add a new task
  </button>
</form>
  

  
